@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qci6qs');
  src:  url('fonts/icomoon.eot?qci6qs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qci6qs') format('truetype'),
    url('fonts/icomoon.woff?qci6qs') format('woff'),
    url('fonts/icomoon.svg?qci6qs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-library:before {
  content: "\e921";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
